//colors scss
$primary:#E3313C;
$primary-claro: #EE838A;
$primary-mais-claro: #FCBAC6;

$white: #ffffff;
$white-secondary: #F4F4F6;
$white-blue: #6086B1;
$white-blue-light:#A0B6D0;


$third: #32333A;
    $third-claro: #8E93A5;